.note-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-content {
    min-height: 120px; /* اینو می‌تونی بر اساس نیازت کم یا زیاد کنی */
}

